{% extends "base.html" %}
{% block content %}
<form method="post">
    <h1>{{map_settings.title}}</h1>
    <div class="wrap">
        <div class="half">
            <input type="text" value="{{map}}" class="hidden" id="map-name">
            <input type="text" value="{{maxzoom}}" class="hidden" id="max-zoom">
            <input type="text" value="{{minzoom}}" class="hidden" id="min-zoom">
            <input type="text" value="{{path}}" class="hidden" id="path">

            <input type="text" name="curr.lat" id="curr-lat" class="hidden">
            <input type="text" name="curr.lang" id="curr-lang" class="hidden">

            <div id="map"></div>

            {% for setting in map_settings %}
            <label for="{{setting}}">{{setting |replace("_"," ")}}</label>
            {% if setting != "bg_color" %}
            <input type="text" name="{{setting}}" id="{{setting}}" value="{{map_settings[setting]}}">
            {% else %}
            <input type="color" name="{{setting}}" id="{{setting}}" value="{{map_settings[setting]}}">
            {% endif %}
            {% endfor %}
            <button>update</button>
        </div>
        <div class="half">
            <div>
                {% for current_marker in map_markers %}
                {% set marker = map_markers[current_marker] %}
                <div id="{{marker.id}}" class="show-marker hidden">
                    <h1>{{marker.name}}</h1>
                    <strong>Marker at position, lat:{{marker.pos[0]}} lang:{{marker.pos[1]}}</strong>
                    <div style="white-space: pre-wrap;">{{marker.desc}}</div>
                    <div>
                        {% for attribute in marker.attributes %}
                        <div>
                            <label for="{{attribute}}">{{attribute}}</label>
                            <input type="text" value="{{marker.attributes[attribute]}}" disabled>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="click-to-display" data-id="edit.{{marker.id}}">edit this
                        marker</button>
                </div>
                <div class="display edit-marker hidden" data-id="edit.{{marker.id}}" id="edit.{{marker.id}}">
                    {% for content in marker %}
                    {% if content != "id" %}
                    <h3>{{content}}</h3>
                    {% if content == "attributes" %}
                    <div class="attributes" data-id = "{{marker.id}}">
                        <div>
                            <input type="text" value="Name" disabled style="text-align: center;">
                            <input type="text" value="Value" disabled style="text-align: center;">
                            <button type="button" style="cursor: default;" disabled>&#10006</button>
                        </div>
                        {% for attribute in marker[content] %}
                        <div>
                            <input type="text" name="{{marker.id}}.attribute.key" value="{{attribute}}">
                            <input type="text" name="{{marker.id}}.attribute.val"
                                value="{{marker[content][attribute]}}">
                            <button type="button" class="delete-attribute">&#10006</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="add-attribute" data-target="{{marker.id}}">+</button>
                    {% elif content == "desc" %}
                    <textarea name="{{marker.id}}.{{content}}" style="width: 100%;"
                        rows="5">{{marker[content]}}</textarea>
                    {% elif content == "pos" %}
                    <div class="pos">
                        <div>
                            <label for="{{marker.id}}.lat">Lat:</label>
                            <input type="text" name="{{marker.id}}.lat" value="{{marker[content][0]}}">
                        </div>
                        <div>
                            <label for="{{marker.id}}.lang">Lang:</label>
                            <input type="text" name="{{marker.id}}.lang" value="{{marker[content][1]}}">
                        </div>
                    </div>
                    {% elif content == "icon" %}
                    <input type="text" name="{{marker.id}}.{{content}}" value="{{marker[content]}}" class="curr-icon hidden" data-id = "{{marker.id}}">
                    <div id="icon-wrap">
                        <div class="selected-icon click-to-display" data-id="icon-selector">
                            <img src="/images/icons/{{marker[content]}}" class="display-image" data-id = {{marker.id}}>
                        </div>
                        <div class="display icon-selector hidden" data-id="icon-selector">
                            {% for icon in icons %}
                            <img src="/images/icons/{{icon}}" class="image-to-select {% if
                                icon==marker[content] %} selected {% endif %}" data-icon="{{icon}}" data-id = "{{marker.id}}">
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <input type="text" name="{{marker.id}}.{{content}}" value="{{marker[content]}}">
                    {% endif %}
                    {% endif %}
                    <input type="text" name="{{marker.id}}.id" value="{{marker.id}}" class="hidden">
                    {% endfor %}
                    <button name="edit-marker" value="{{marker.id}}">finish</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<script defer src="/js/map.js"></script>
{% endblock %}