{% extends "base.html" %}
{% block content %}
<form method="post">
<h1>Why did I do this?</h1>
<h2>The reason why I do anything, dissatisfaction!</h2>
I made this solution because I am in the process of building a world for a pen and paper campaign! That is not easy, and it is frustrating to wrangle word documents 100s of pages long, so I made this!
<br>
This lets me upload my world map (really nay map for that matter), add markers with plenty of costumization and space for notes! This means that my notes on my world are now fully interactive! And what did it cost? Nothing but my worthless time of course?! 
<h2>This solution is for your own fantasy maps!</h2>
I made this to add the interactivity of google maps to your own fantasy map!
<br>
This doesnt mean that you cannot use real life maps of course, do as you please. But I would apperiacte that you only use assets that are free to use or made by you :)
</form>
{% endblock %}